@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    /*Pesos de fuente*/
    --peso-light: 300;
    --peso-normal: 400;
    --peso-medium: 500;
    --peso-bold: 700;
    --peso-black: 900;
    /*Colores*/
    --color-principal: #6c63ff;
    --color-secundario: #aca4a4;
    --color-fondo: #f5f5f5;
    --color-texto: #131313;
    --color-hoverabout: #8b84ff;
    --color-indexbotones: rgb(214, 95, 167);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 20px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav a{
    color: var(--color-texto);
    transition: 0.3s;
    font-weight: var(--medium);
    position:relative;
}

nav a:hover{
    color: var(--color-indexbotones);
}

nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--color-indexbotones);
    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--black);
    font-size: 20px;
}


/* CUERPO */

.cuerpo{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 120px 50px;
}

.cuerpo img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

.cuerpo div{
    max-width: 600px;
}

.cuerpo h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: var(--black);
}

.cuerpo p{
    line-height: 1.8;
    font-size: 18px;
    font-weight: var(--regular);
}

/* HAMBURGUESA */

.hamburguesa{
    display: none;
    font-size: 35px;
    cursor: pointer;
}

/*CONTACTO*/

/* CENTRAR FORMULARIO */
form{
    width: 100%;
    max-width: 500px;
    margin: 120px auto;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -10px;
}

/* LABELS */
label{
    font-weight: 500;
    margin-top: 10px;
}

/* INPUTS Y TEXTAREA */
input, textarea{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

/* EFECTO AL HACER CLICK */
input:focus,
textarea:focus{
    border-color: var(--color-principal);
    outline: none;
}

/* TEXTAREA */
textarea{
    min-height: 120px;
    resize: none;
}

/* BOTÓN */
button{
    padding: 12px;
    background-color: var(--color-principal);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

/* HOVER BOTÓN */
button:hover{
    background-color: purple;
}

/*CONTACTO*/

.contacto{
    padding: 120px 50px;
    text-align: center;
    text-decoration: underline rgb(175, 44, 223);
}

.parrafo{
    padding: 50px;
    text-align: center;
    margin-top: -150px;
    color: grey;
}

/* FOOTER */

footer{
    background-color: black;
    text-align: center;
    padding: 70px 0;
    margin-top: 50px;
}

footer p{
    color: white;
    font-size: 14px;
}

footer a{
    color: white;
    margin: 0 15px;
    transition: 0.3s;
}

.footerIndex a:hover{
    color: var(--color-indexbotones);
}

p{
    margin-top: 30px;
    font-size: 14px;
    color: #000000da;
}


/* RESPONSIVE */

@media(max-width: 768px){

    nav ul{
        display: none;
    }

    .hamburguesa{
        display: block;
    }

    .cuerpo{
        flex-direction: column;
        text-align: center;
    }

    .cuerpo h1{
        font-size: 40px;
    }

    .cuerpo img{
        width: 250px;
        height: 250px;
    }
}

/* ABOUT */

.about .logo{
    color:white;
    background-color: #3498db;
}

/* FOTO POLAROID + CONTENIDO */

.titulo{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 70px;
}

.titulo h1{
    font-size: 45px;
    text-decoration: underline #3498db;
    text-underline-offset: 12px;
}

.titulo p{
    margin-top: 25px;
    color: gray;
}

/* SECCION SOBRE MI */

.Sobremi{
    display: flex;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 50px;
    flex-wrap: wrap;
}

/* FOTO POLAROID */

.foto-polaroid{
    width: 270px;
    background-color: white;
    padding: 20px 20px 60px 20px;
    text-align: center;
}

.foto-polaroid img{
    width: 100%;
    display: block;
}

.foto-polaroid h1{
    margin-top: 25px;
    letter-spacing: 10px;
    font-size: 50px;
    color: #244766;
}

/* CONTENIDO */

.contenido{
    max-width: 650px;
}

.contenido h2{
    font-size: 45px;

    margin-bottom: 20px;

    color: #1d3557;
}

.contenido h3{
    color: #3498db;

    margin-bottom: 30px;

    font-size: 25px;
}

.contenido p{
    line-height: 1.8;

    color: #333;

    margin-bottom: 35px;
}

/* BOTONES */

.botones{
    display: flex;

    gap: 20px;
}

.boton{
    text-decoration: none;

    background-color: #3498db;

    color: white;

    padding: 14px 24px;

    border-radius: 8px;

    transition: 0.3s;
}

.boton:hover{
    background-color: #217dbb;
}

/*EXPERIENCIA y EDUCACIÓN*/

.experiencia, .educacion{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experiencia h1, .educacion h1{
    margin-left: 330px;
}

.experiencia h1, .educacion h1, .valores h1{
    font-size: 40px;
    color: #1d3557;
    margin-top: 50px;
    text-decoration: underline rgb(236, 128, 146);
    text-underline-offset: 12px;
}


.CGI, .tiendas, .McDonald, .equitacion, .monitora, .TheBridge, .MEDAC, .PadrePiquer{
    background-color: rgb(252, 246, 246);
    padding: 40px;
    border-radius: 12px;
    border-left: #3498db 5px solid;
    margin-left: 330px;
}

.fecha{
    color: #3498db;
    font-weight: 500;
    margin-top: 10px;
}

/* VALORES */

.valores {
    max-width: 1200px;
    margin: 80px auto;
}

/* GRID */
.valores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 40px;
}

/* El título ocupa toda la fila */
.valores > h1 {
    grid-column: 1 / -1;
}

/* TARJETAS */
.valores div {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 35px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03);
}

/* TITULOS */
.valores h2 {
    color: #2f80ed;
    margin-bottom: 20px;
    font-size: 26px;
}

/* TEXTO */
.valores p {
    line-height: 1.7;
    font-size: 18px;
}

body.about {
    background-color: #f5f5f5;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .valores {
        grid-template-columns: 1fr;
    }
}

/*HOVER FOOTER ABOUT*/

.footerabout a:hover{
    color: #2f80ed;
}

.navAbout a:hover{
    color: #2f80ed;
}

.navAbout a::after{
    background-color: #2f80ed;
}


/*HOVER CONTACTO*/

.footerContacto a:hover{
    color: var(--color-principal);;
}

.NavContacto a:hover{
    color:var(--color-principal);;
}

.NavContacto a::after{
    background-color: var(--color-principal);;
}

.logoContacto{
        width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(175, 44, 223);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--black);
    font-size: 20px;
}

